div.container-fluid.researchSection {
    background-color: rgb(71, 61, 131);
}

div.container-fluid.defineSection {
    background-color: rgb(95, 199, 156);
}

div.circles {
    justify-content: space-evenly;
}

div.stats {
    text-align: center;
    width: 175px;
    height: auto;
    padding-top: 20px;
    padding: 20px;
}

div.researchCircle {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: rgb(47, 39, 77);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.row.sectionTitle {
    justify-content: center;
    padding: 40px;
    padding-top: 80px;
}

div.row.stats {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.observationQuotes {
    justify-content: center;
}

h1.researchBoldText {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px !important;
    font-weight: bold !important;
}

h2.regularText {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px !important;
}

h3.circleText {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px !important;
    font-weight: bold !important;
}

h4.veryBoldText {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px !important;
    font-weight: bold !important;
}

p.italicText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px !important;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

ul.observationDescription {
    list-style-type: none;
    padding: 40px;
}

ul.defineDescription {
    list-style-type: none;
    padding-top: 125px;
    max-width: 1000px;
    padding-bottom: 30px;
}

img.personaImg {
    max-width: 100%;
    min-width: 100px;
    height: auto;
    vertical-align: middle;
}

.sectionBox {
    max-width: 100%;
    min-width: 100%;
    min-height: 460px;
    background-color: #F5F5F5;
}

h1.sectionTitle {
    color: #242080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px !important;
    text-align: center;
    font-style: bold;
}

.creditBox {
    min-width: 100%;
    min-height: fit-content;
    background-color: #F5F5F5;
    padding-bottom: 50px;
    padding-top: 50px;
}

h6.memberName {
    color: #59B9B5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

p.roleList {
    color: #242080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

h4.bda {
    color: #242080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
}

.row {
    display: flex;
    justify-content: center;
}

.mockupdiv {
    /* min-width: 1920px; */
    max-width: 100%;
    height: 864px;
    background-color: #E5E6E8;
}

body {
    font-family: "Open Sans", sans-serif;
}

img.aboutImg {
    max-width: 100%;
    min-width: 100px;
    height: auto;
    vertical-align: middle;
}

div.container-fluid .aboutSection {
    background-color: white;
    color: rgb(47, 39, 77);
}

h1.mainHeader {
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(47, 39, 77);
}

/* Section Circle */
.counter {
    padding-top: 40px;
    padding-bottom: 40px;
}

.counter .one {
    position: relative;
    border: 7px solid rgb(47, 39, 77);
    background-color: rgb(47, 39, 77);
    border-radius: 50%;
    width: 190px;
    height: 190px;
    padding: 40px 12px;
    text-align: center;
}

.one h3 {
    font-weight: bold;
    color: white;
    text-align: center;
}

/* Section About */
.sectionAbout {
    padding-top: 40px;
    padding-bottom: 40px;
}

.sectionAbout .head {
    text-align: center;
}

.sectionAbout .head .h1 {
    padding-bottom: 25px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.sectionAbout .head p {
    font-size: 24px;
    font-weight: 300;
}

/* Section Features */
.featureSection {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #6DB6A1;
}

.featureSection h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
    color: white;
    font-style: italic;
}

.featureSection .section {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.featureSection .section:hover i {
    background-color: rgb(47, 39, 77);
}

.featureSection .section i {
    background-color: white;
    width: 70px;
    height: 70px;
    padding-top: 20px;
    font-size: 30px;
    color: #6DB6A1;
    border-radius: 50%;
    transition: all .7s ease-in-out;
}

.featureSection .section:hover i {
    background-color: rgb(47, 39, 77);
}

.featureSection .section i {
    background-color: white;
    width: 70px;
    height: 70px;
    padding-top: 20px;
    font-size: 30px;
    color: #6DB6A1;
    border-radius: 50%;
    transition: all .7s ease-in-out;
}

/* Build Section */
img.buildImages {
    padding: 40px;
    max-width: 100%;
    min-width: 100px;
    height: auto;
    vertical-align: middle;
}

#buildSection {
    padding: 40px;
}

/* Ideate Section */
div.container-fluid.mappingBrainstorm {
    padding: 100px;
}

.row.mappingbrainstormRow {
    background-color: #F5F5F5;
    padding-top: 40px;
    padding-bottom: 30px;
}

h4.mappingbrainBoldText {
    font-family: Arial, Helvetica, sans-serif;
    color: #242080;
    font-size: 30px !important;
    font-weight: bold !important;
}

h2.mappingbrainRegularText {
    font-family: Arial, Helvetica, sans-serif;
    color: #242080;
    font-size: 20px !important;
}

img.mappingimage {
    max-width: 100%;
    min-width: 80px;
    height: auto;
    vertical-align: middle;
}

/* Information Architecture Section  */
.row.informationarchRow {
    background-color: #2E2C5A;
    padding-top: 50px;
}

h4.informationarchBoldText {
    font-family: Arial, Helvetica, sans-serif;
    color: #F5F5F5;
    font-size: 30px !important;
    font-weight: bold !important;
}

h2.informationarchRegularText {
    font-family: Arial, Helvetica, sans-serif;
    color: #F5F5F5;
    font-size: 20px !important;
}

img.informationarchimage {
    max-width: 100%;
    min-width: 80px;
    height: auto;
    vertical-align: middle;
}

/* Task Flow Section  */
.row.taskflowRow {
    background-color: #2E2C5A;
    padding-top: 50px;
}

h4.taskflowBoldText {
    font-family: Arial, Helvetica, sans-serif;
    color: #F5F5F5;
    font-size: 30px !important;
    font-weight: bold !important;
}

h2.taskflowRegularText {
    font-family: Arial, Helvetica, sans-serif;
    color: #F5F5F5;
    font-size: 20px !important;
}

img.taskflowimage {
    max-width: 100%;
    min-width: 80px;
    height: auto;
    vertical-align: middle;
}